/*
 *= require font-awesome
 *= require homeland/tether.min
 *= require homeland/bootstrap.min
 *= require homeland/bootstrap-theme
 *= require homeland/markdown
 *= require_self
 */

.main-layout {
  margin-top: 30px;
}

.node-badge {
  display: inline-block;
  width: 10px; height: 10px;
  margin-right: 2px;
}

.avatar {
  width: 48px; height: 48px;
  border-radius: 180px;
}

.timeago { color: #999; text-decoration: none; }

.btn-opt {
  line-height: 100%;
  padding: 6px 8px 8px 8px;
  font-size: 14px;
  display: inline-block;

  &:link,
  &:visited,
  &:active {
    color: #555;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    background: #F0F0F0;
  }
}

.topics {
  .topic {
    font-size: 13px;
    td { padding-top: 13px; padding-bottom: 13px; }
    td.title {
      font-size: 16px;
    }
    .node {
      width: 150px; font-weight: bold;
      a { color: #444; display:inline-block;}
    }
    .author {
      width: 40px;
      .avatar { width: 24px; height: 24px; }
    }
    .replies { width: 100px; }
    .activity { width: 50px; }
  }
}

.topic-detail {
  padding-bottom: 40px;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;

    .node { display: inline-block; font-size: 14px; margin-left: 10px; }
  }

  .reply {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

    .media-left {
      .media-object { width: 48px; height: 48px; border-radius: 180px; }
    }

    .media-heading {
      font-size: 14px;

      .date { color: #999; font-size: 13px; }
    }

    .reply-to {
      font-size: 12px;
      background: #f9f9f9;

      .heading {
        font-size: 14px;
      }

      .opts {
      }
    }
    .media-footer {
    }
  }
}

#reply-panel {
  padding-bottom: 40px;

  &.navbar-light {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #eee !important;
    box-shadow: 0 1px 4px rgba(0,0,0,0.28);
  }
}

.nodes {
  margin-bottom: 20px;

  .node-item {
    padding: 15px 15px;
    border: 1px solid #eee;
    &:last-child {
      border-bottom: 1px solid #eee;
    }
    border-bottom: 0px;
    border-left: 5px solid #EEE;


    .info {
      .title {
        font-size: 18px; font-weight: bold;
        .count { font-weight: normal; font-size: 14px; }
      }
      .desc { color: #666; margin-top: 10px; }
    }

    .topics {
      .item {
        margin: 3px;
        a { color: #333;  font-size: 13px; }
        .timeago { font-size: 12px; }
      }
    }
  }
}
