.markdown {
  h1, h2, h3, h4, h5, h6 { line-height: 200%; }
  h1 { font-size: 22px; }
  h2 { font-size: 22px; }
  h3 { font-size: 20px; color: #555; }
  h4 { font-size: 18px; color: #666; }
  h5 { font-size: 16px; color: #777; }
  h6 { font-size: 16px; }

  ul, ol {
    padding-left: 20px;
  }
}
